{% extends 'base.html' %}
{% block body %}
    <h1 class="p-2">
     <span>Remaining Tasks</span>
    </h1>
    <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>
            <th scope="col" rowspan="2">ID</th>
            <th scope="col" rowspan="2">Channel ID</th>
            <th scope="col" colspan="3">Message</th>
            <th scope="col" rowspan="2">status</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">file</th>
            <th scope="col">text (caption)</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <th scope="col">{{ file[0] }}</th>
                <th scope="col">{{ file[1] }}</th>
                <th scope="col">{{ file[2] }}</th>
                <th scope="col">{{ file[3] }}</th>
                <th scope="col">{{ file[4] }}</th>
                <th scope="col">{{ file[5] }} <a href="{{ url_for('tg_download', id=file[0]) }}">start</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}